.hotel {
  padding-top: 70px;
  padding-bottom: 82px;
  
  .title {
    text-align: left;
  }
}

.hotel__img {
  float: right;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 10px;
}

.hotel__info {
  text-align: justify;
}

.hotel__btn {
  margin-top: 30px;
}
